<!DOCTYPE html>
<html>
  <head>
    <title>Assortment Pairs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
  </head>
  <body ng-app="pairsApp">
     <p>This is the navbar</p>
    <div ui-view></div>
  </body>
  <script type="text/javascript" src="/lib/angular.min.js" defer></script>
  <script type="text/javascript" src="/lib/jquery.min.js" defer></script>
  <script type="text/javascript" src="/lib/angular-ui-router.min.js" defer></script>
  <script type="text/javascript" src="/lib/angular-resource.min.js" defer></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js" defer></script>
  <script type="text/javascript" src="/assets/style.js" defer></script>
  <script type="text/javascript" src="route.js" defer></script>
  <script type="text/javascript" src="/controllers/pairs.controller.js" defer></script>
  <script type="text/javascript" src="/services/pairService.js" defer></script>




</html>
