.developer-fields-header {
  margin-top: 40px;
}

.developer-fields-header span {
  font-weight: 700;
  font-size: 1.6em;
}

.developer-wrapper img {
  height: 75px;
  width: 75px;
  border-radius: 60px;
  margin-bottom: 7px;
}

* {
  border: 1px outline red;
}

.fa fa-floppy-o {
    font-size: 40px;
}

button {
  background-color: white;
  border: 1px solid orange;
  padding: 10px;
  border-radius: 10px;
  display: inline;
}
