<span class="page-title">developers</span>
<div class="container developer-wrapper">
  <div class="row developer-fields-header">
    <div class="col-md-3">
      <span>avatar</span>
    </div>
    <div class="col-md-3">
      <span>name</span>
    </div>
    <div class="col-md-3">
      <span>slack name</span>
    </div>
  </div>
  <form ng-submit="vmDevelopers.saveDevelopers()" enctype="multipart/form-data">
    <div class="row" ng-repeat="developer in vmDevelopers.developers">
      <div class="col-md-3">
        <input type="text"
               class="form-control"
               ng-model="developer.name"
               ng-required="true"
               ng-change="vmDevelopers.determineIfNewDeveloperNeeded()"></input>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" ng-model="developer.slack_name"></input>
      </div>
      <i class="fa fa-eraser" ng-click="vmDevelopers.deleteDeveloper(developer._id)"></i>
    </div>
    <button type="submit">Submit</button>
  </form>
    <button ng-click="vmDevelopers.newDeveloper()">Add</i>

</div>
