<h1 class="ui header page-title">Developers</h1>

<form class="developer-container" ng-submit="vmDevelopers.saveDevelopers()" enctype="multipart/form-data">
  <div class="ui form sixteen wide container centered">
    <div class="fields" ng-repeat="developer in vmDevelopers.developers">

      <input class="ui button upload" type="button" value="Upload" ng-model="developer.avatar_url" ng-click="vmDevelopers.avatarUpload($index)" ng-show="!developer.avatar_url" />
      <img class="ui avatar image" ng-src="{{ developer.avatar_url }}" ng-show="developer.avatar_url" >

      <div class="field">
        <label>Name</label>
        <input type="text"
               placeholder="Name"
               ng-model="developer.name"
               ng-change="vmDevelopers.determineIfNewDeveloperNeeded()">
      </div>

      <div class="field">
        <label>Slack Handle</label>
        <input type="text"
               placeholder="Slack Handle"
               ng-model="developer.slack_name"
               ng-change="vmDevelopers.determineIfNewDeveloperNeeded()">
      </div>
      <i class="fa fa-ban" ng-show="developer.name && developer.slack_name" ng-click="vmDevelopers.deleteDeveloper(developer._id)"></i>
    </div>
    <button id="save-developers" class="ui button" type="submit">Save All Developers</button>
  </div>
</form>
