<h3>pairs</h3>
  <table class="ui very basic collapsing celled table" ng-repeat="day in vmPairGroups.pairGroups">
    <thead>
      <th colspan="2"><h4>{{ day.date | date:'medium'}}</h4></th>
    </thead>
    <tbody>
      <tr ng-repeat="pair in day.pairs">
        <td>
          <h4 class="ui image header">
            <img src="{{ pair.anchor.avatar_url || '../assets/images/bucket.jpg'}}" class="ui mini rounded image">
            <div class="content">
              {{ pair.anchor }}
              <div class="sub header">Anchor
            </div>
          </div>
        </h4>
      </td>
        <td>
          <h4 class="ui image header">
            <img src="{{ pair.developer.avatar_url || '../assets/images/bucket.jpg'}}" class="ui mini rounded image">
            <div class="content">
              {{ pair.developer }}
              <div class="sub header">Developer
            </div>
          </div>
        </h4>
        </td>
      </tr>
    </tbody>
  </table>
