/*body {
  font-family: 'Lato', sans-serif;
}

.developer {
  width: 100px;
  height: 100px;
  background-color: #f96332;
  color: white;
  margin: 10px;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  transition: all 1s ease;
}

.developer-container {
  display: flex;
  flex-direction: row;
}

.selected {
  transform:scale(1.25);
}

.big-container {
  flex:
}

.pair-container {
  border: 1px solid green;
}

.box {
  margin:40px auto;
  max-width: 700px;
  margin: 100px auto;
}

.box-header {
  padding: 15px;
  color: white;
}

.box-content {
  padding: 25px;
  background-color: #2ecc71;
}

.pair {
  background-color: #2ecc71;
  max-width: 75px;
  max-height: 75px;
  margin: 15px;
}

.raised-effect {
  background-color: #f96332;
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}*/
