.ui.cards > .card, .ui.card {
  width: 160px;
}

.ui.horizontal.list {
  display: block;
}

.ui[class*="very basic"].table {
  margin: auto;
  margin-bottom: 125px;
}

.ui.header {
  margin: 25px 35px;
}

.ui.horizontal.list:not(.celled) > .item:first-child {
  margin-left: 3em !important;
}

.ui.horizontal.list > .item {
  margin-left: 3em;
  width: 190px;
}

.ui.horizontal.list .list > .item, .ui.horizontal.list > .item {
  font-size: 1.2rem;
  margin-top: 5px;
}

.ui.horizontal.list {
  font-size: 1em;
}

.pair-number {
  margin-left: 30px;
}

.ui.horizontal.list.developers:not(.celled) > .item {
  margin-left: 5.1em !important;
}

.selected-developer, .pair:hover {
  opacity: .35;
}

.ui.horizontal.list > .item.hidden {
  display: none;
}
