<span class="page-title">developers</span>
<div class="container developer-wrapper">
  <div class="row developer-fields-header">
    <i class="fa fa-floppy-o" ng-click="vmDevelopers.saveDevelopers()" aria-hidden="true"></i>
    <div class="col-md-3">
      <span>avatar</span>
    </div>
    <div class="col-md-3">
      <span>name</span>
    </div>
    <div class="col-md-3">
      <span>slack name</span>
    </div>
  </div>
  <div>
    <div class="row" ng-repeat="developer in vmDevelopers.developers">
      <div class="col-md-3">
        <img ng-src="{{ developer.avatar_url }}" />
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" value="{{developer.name}}"></input>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" value="{{developer.name}}"></input>
      </div>
    </div>
  </div>

</div>
