<h1>Create New Pair</h1>
<div class="create-wrapper">
        <div class="img-wrapper" ng-repeat="developer in vmPairs.developers">
            <img 
                 class="responsive-img avatar" 
                 src="/assets/chad.jpg" 
                 ng-click="vmPairs.handleClick(developer)" 
                 ng-class="{selected: developer.selected}" />
        </div>

</div>
<div class="selected-wrapper" ng-repeat="developer in vmPairs.selectedPairs">
    Right here...
    <img 
     class="responsive-img avatar" 
     src="/assets/chad.jpg" 
     ng-class="{selected: developer.selected}" />
</div>

<div class="container">
    <btn class="btn btn-primary" ng-show="vmPairs.currentSelectedPair.length > 1" ng-click="vmPairs.confirmPair()">Confirm</btn>
</div>
