body {
    max-width: 960px;
}

.create-wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.avatar {
    width: 125px;
    height: 125px;
    align-self: center;
    margin: 7px 15px;
    box-shadow: 4px 3px 27px #888888;
    border-radius: 5px;
}


.selected {
    width: 150px;
    height: 150px;
}