body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

img {
  width: 150px;
  height: 150px;
}

.page-title {
  font-weight: 200;
  font-size: 3em;
  margin: 25px;
  display: block;
}

/* HELPERS */

.right-align {
  text-align: right;
}

.center-align {
  text-align: center
}
