body {
}

.available {
    background-color: azure;
}

.selected-wrapper {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: peachpuff;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 7px 15px;
    box-shadow: 4px 3px 27px #000;
    border-radius: 50px;
    border: 2px solid white;
}


.selected {
    border: 2px solid green;
    border-radius: 50px;
}